<!-- Like Icon (common template) -->
<div id="heart-icon-main-<%= type %>-<%= id %>" class="heart-icon-outer">
    <div id="heart-off-<%= type %>-<%= id %>" class="heart-icon-inner" style="<% if count > 0 then %>display: none;<% end %>">
        <%= image_tag "heart_off.png", :plugin => "like", :height => "18" %>
        <p id="heart-off-count-<%= type %>-<%= id %>" class="heart-count"><%= count %></p>
    </div>
    <div id="heart-on-<%= type %>-<%= id %>" class="heart-icon-inner" style="<% if count < 1 then %>display: none;<% end %>">
        <%= image_tag "heart_on.png", :plugin => "like", :height => "18" %>
        <p id="heart-on-count-<%= type %>-<%= id %>" class="heart-count"><%= count %></p>
    </div>
</div>
