<h2><%= I18n.t(:like_label_like) %></h2>
<h3><%= I18n.t(:like_label_received_count) %></h3>
<table class="list"  style="max-width: 500px;">
  <tr>
    <th><%= I18n.t(:like_field_user) %></th>
    <th>⁠<%= I18n.t(:like_field_count_for_issue) %></th>
    <th><%= I18n.t(:like_field_count_for_journal) %></th>
    <th><%= I18n.t(:like_field_count_for_wiki) %></th>
    <th><%= I18n.t(:like_field_count_total) %></th>
  </tr>
  <% @users.each{|user| %>
    <tr>
      <td><%= user.lastname %></td>
      <td><%= @like_received_count_for_issue[user.id] %></td>
      <td><%= @like_received_count_for_journal[user.id] %></td>
      <td><%= @like_received_count_for_wiki[user.id] %></td>
      <td><%= @like_received_count_total[user.id] %></td>
    </tr>
  <% } %>
</table>
<br>
<h3><%= I18n.t(:like_label_sent_count) %></h3>
<table class="list"  style="max-width: 500px;">
  <tr>
    <th><%= I18n.t(:like_field_user) %></th>
    <th>⁠<%= I18n.t(:like_field_count_for_issue) %></th>
    <th><%= I18n.t(:like_field_count_for_journal) %></th>
    <th><%= I18n.t(:like_field_count_for_wiki) %></th>
    <th><%= I18n.t(:like_field_count_total) %></th>
  </tr>
  <% @users.each{|user| %>
    <tr>
      <td><%= user.lastname %></td>
      <td><%= @like_sent_count_for_issue[user.id] %></td>
      <td><%= @like_sent_count_for_journal[user.id] %></td>
      <td><%= @like_sent_count_for_wiki[user.id] %></td>
      <td><%= @like_sent_count_total[user.id] %></td>
    </tr>
  <% } %>
</table>

